{% load static %} <!--imp-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello there</title>
        <link rel="stylesheet" href="{% static 'practiceapp2/index.css' %}">
        <script src="{% static 'practiceapp2/index.js' %}"></script>
        <style> 
h2 {
    color: red;
}
     </style> <!--head style-->
    </head>
    <body>

  <nav>
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'about' %}">About</a> |
    <a href="{% url 'contact' %}">Contact</a>
</nav>

        <h1>Once again</h1>
        <h2 style="font-style: italic;">helllo hello hello</h2> <!--inline style-->

<h3 id="output">Your name will appear here</h3>
        <input type="text" id="nameInput" placeholder="Enter your name">
    <button onclick="showName()">Submit</button>
    
    <script> <!--inline js-->
    function showName() {
    let name = document.getElementById("nameInput").value;

    if (name === "") {
        alert("Please enter your name");
    } else {
        document.getElementById("output").innerText = "Hello, " + name + " 🚀";
    }
    }
    </script> 
    <img src ="{% static 'practiceapp2/image.jpeg' %}" width='200' height='200' alt="Image"> <!---image-->
    <a href="https://google.com">google</a> <!--href--->
    </body>
</html>